<p>Your order was placed successfully.</p>
<p><h2>Pizza order <%= @pizza.id %></h2></p>
<hr>
<p>Ordered by:  <%= @pizza.pretty_name %></p>
<p>Topping:     <%= @pizza.topping %></p>
<p>Quantity:    <%= @pizza.quantity %></p>
<hr>
<p>Total to pay: <%= @pizza.total %></p>
<p>Please call 0131 290 2600 to pay.</p>