<form method="POST" action="/pizzas/<%= @pizza.id  %>">
  <label for="first-name">First Name: </label>
  <input 
  type="text" 
  id="first-name" 
  name="first_name"
  value = "<%= @pizza.first_name%>"
  />  
  <!-- match name= to database column_name for ease of access, use id=label_name so click on label activates input field to keep page accessible to screen readers --> 
  
  <label for="last-name">Last Name: </label>
  <input type="text" id="last-name" name="last_name" value = "<%= @pizza.last_name%>"/>  
  
  <label for="pizza-select">Select Pizza: </label>
  <select  type="text" id="pizza-select" name="topping">
    <option <%= "selected" if @pizza.topping == "Margherita" %> value="Margherita">Margherita</option>
    <option <%= "selected" if @pizza.topping == "Calzone" %> value="Calzone">Calzone</option>
    <option <%= "selected" if @pizza.topping == "Pepperoni" %> value="Pepperoni">Pepperoni</option>
    <!-- value is returned to database, between tags is displayed in drop-down list.  Could use dynamic code to generate options list -->
    <!-- etc -->
  </select>  
  
  <label for="quantity">Quantity: </label>
  <input value = <%= @pizza.quantity %> type="number" id="quantity" name="quantity" min=1 step=1/>  
  <input type="submit" value="Update Order">
  
</form>