<p><h2 class=no-wrap>All the pizza orders in the sytem:</h2></p>
<hr>
<% @pizzas.each do |pizza| %>
  <p>Name: <%= pizza.pretty_name %></p>
  <p>Order: <%= pizza.quantity %> x <%= pizza.topping%></p>
  <p>
    <a href="/pizzas/<%= pizza.id %>">
    Show Details Order <%= pizza.id %> </a>
  </p>
  <form method="POST" action="/pizzas/<%= pizza.id %>/delete">
    <input type="submit" value="Cancel Pizza(s)">    
  </form>  
  <hr>
<% end %>  